{
    "OPERATOR_ID": "0.0...",
    "OPERATOR_KEY": "302e0201..",
    "TOPIC_ID": "0.0...",
    "ISSUER_DID": "did:hedera:testnet...",
    "ISSUER_PK": "302e...",
    "SUBJECT_DID": "did:hedera:testnet:..."
}